<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/home.css">
    <title>Intern</title>
</head>

<body>

    <nav class="page__menu page__custom-settings menu">
        <!-- <img class="logo" src="/images/logo.jpg"> -->
        <ul class="menu__list r-list">

            <li class="menu__group"><a href="/" class="menu__link r-link text-underlined">HOME</a></li>
            <li class="menu__group"><a href="/details" class="menu__link r-link text-underlined">ALL USERS</a></li>
            <li class="menu__group"><a href="/login" class="menu__link r-link text-underlined">LOGIN</a></li>
            <li class="menu__group"><a href="/register" class="menu__link r-link text-underlined">REGISTER</a></li>
        </ul>
    </nav>



    <div class="dis">
        <img src="/images/pic.jpg">
        <div class="box">
            <div class="inner">
                <span>Welcome to Intern</span>
            </div>
            <div class="inner">
                <span>Welcome to Intern</span>
            </div>


        </div>


    </div>

    </div>
    </div>


    <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
        <div class="container text-center">
            <h2>Copyright &copy; Intern</h2>
        </div>
    </footer>



</body>

</html>