<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello <%= users.user_name %>
    </h1>
    <a href="/profile">VIEW Profile</a>
    <a href="/logout">Logout</a>
    <a class="btn btn-info " target="__blank" href="/delete_profiles/<%=users.user_id%>">DELETE ME</a>

</body>

</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>


    <title>INTERN</title>
</head>

<body>
    <section class="colored-section" id="title">

        <div class="container-fluid">

            <!-- Nav Bar -->

            <nav class="navbar navbar-expand-lg navbar-dark">

                <a class="navbar-brand" href="">Welcome <%= users.user_name %></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="btn btn-info " target="__blank" href="/logout">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-info btn-danger " target="__blank" href="/delete_profiles/<%=users.user_id%>">DELETE ME</a>
                        </li>
                    </ul>

                </div>
            </nav>


            <!-- Title -->

            <div class="row">

                <div class="col-lg-6">
                    <h1 class="big-heading">View your Profile in my Intern Website</h1>
                    <a href="/profile" type="button" class="btn btn-dark btn-lg download-button">Show Database</a>
                </div>

                <div class="col-lg-6">
                    <img class="title-image" src="/images/pic.jpg" alt="iphone-mockup">
                </div>

            </div>

        </div>
    </section>
    <footer class="white-section " id="footer">
        <div class="container-fluid">
            <i class="social-icon fab fa-facebook-f my-icon"></i>
            <i class="social-icon fab fa-twitter my-icon"></i>
            <i class="social-icon fab fa-instagram my-icon"></i>
            <i class="social-icon fas fa-envelope my-icon"></i>
            <p>© Copyright 2021 @Intern</p>
        </div>
    </footer>
</body>

</html>